.ButtonRoot{
  width: 150px;
  height: 40px;
  margin-right: 20px;
}
.textTotal{
  font-weight: 600;
  font-size: 16px;
}
.divider{
  margin-bottom: 12px;
  margin-top: 28px;
}
.dividerCard{
  margin-top: 16px;
  margin-bottom: 12px;
  margin-left: auto;
  width: 325px;
}
.dropdown{
  padding: 20px;
  border-radius: 16px;
  overflow: auto;
  max-height: 700px;
}
.quantity{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}
.quantityText{
  font-weight: 600;
  font-size: 15px;
  color: #212529;
}