.cardRoot{
  padding: 0;
  width: 400px;
}
.textName{
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 5px;
}
.textWeight{
  font-weight: 600;
  font-size: 14px;
  color: #868e96;
  margin-bottom: 5px;
}
.textPrice{
  font-weight: 600;
  font-size: 20px;
}
.groupActionIcon{
  margin-left: auto;
  margin-top: auto;
}
.buttonCount{
  border-radius: 8px;
  width: 30px;
  height: 30px;
  color: #212529;
}
.img{
  border-radius: 6px;
}
.divider{
  margin-top: 16px;
  margin-bottom: 12px;
  margin-left: auto;
  width: 325px;
}